.container {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(125, 125, 125, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-shrink: 0;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.form {
  position: relative; 
}

.searchInput,
%button {
  height: 2.25rem;
  border-radius: 99px;
}

.searchInput {
  padding: 0 2.5rem;
  border: 3px solid #c4ccce;
}

%button {
  position: absolute;
  top:0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  background-color: #c4ccce;
  color: #576164;
  user-select: none;
  cursor: pointer;

  &[disabled] {
    cursor: unset;
  }
}

.submitBtn {
  @extend %button;
  left: 0;
}

.resetBtn {
  @extend %button;
  right: 0;
  transition: .2s;

  &[disabled] {
    opacity: 0;
  }
}